*{
  margin: 0;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 5px 6px #08a05ca4;
  /* padding:0 22px ;  */
  box-sizing: border-box;
}

/*=========== styles header ==========*/
header{
  width: 100%;
  min-height: 100px ;
  max-width: 1530px;
  overflow: hidden;
  display: flex;
  align-items: center;  
  justify-content: space-around;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
  background-color: black;
  box-shadow: 0px 4px 8px #000000a4;
}

.icon-menu{
  display: none;
}

ul{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

li{
  list-style: none !important;
}



header ul li{
  padding: 0 1rem;
  list-style: none;
}

a{
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  
}

a:hover{
  color: #10ff94e7;
}


header .cart{
  position: relative;
  cursor: pointer;
} 
header .cart box-icon{
     width: 45px;
     height: 45px;
}

header .cart box-icon{
  color: white;
}

header .cart span{
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  width: 2.5rem;
  height: 2.5rem; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 700 ;
  background: rgb(233,243,245);
  background: linear-gradient(90deg, rgba(233,243,245,1) 0%, rgba(206,13,75,1) 0%, rgba(2,0,36,1) 50%, rgba(206,13,75,1) 100%, rgba(224,14,78,0.6085784655659139) 100%);
}

.inicio2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7rem 0px;
  margin-bottom: -16rem;
}


.inicio3{
  padding: 5rem 0;
}

.inicio3{
  
  width: 100% !important;
}
/* ========styles do Productos =========== */
.titel{
  font-size: 2.4rem;
  padding: 10rem 0 0 0;
  color: #08a05ca4;
 
  
}

.productos{  
  padding: 5rem 0rem;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr) );
  gap: 3rem 1rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.producto{  
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgb(0, 0, 0, .2);
  border: 6px solid transparent;
  border-radius: 5px;
}
.producto:hover{
  border: 6px solid #0a673d53;
}

.producto_img img{
   width: 100%;
}

.producto_footer{
  padding: 1rem;
}

.producto_footer h1{
  font-weight: 600;
  font-size: 1.5rem;
  color: #08090c;
  font-family: 'Courier New', Courier, monospace;
}

.producto_footer p{
  font-weight: 700;
  color: #08090c64;
  text-transform: uppercase;
  font-size: 18px;
}

.producto_footer .price{
  font-size: 2rem;
  color: #1a202c;
}

.producto .buttom{
  width: 95%;
  height: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 3rem;
  padding: 0 1rem;
  margin: 1rem;
}

.buttom .btn{
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
}


.buttom .button{
  background-color: #898ae4;
  max-width: 250px;
  width: 100%;  
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  
}

.button:hover{
  cursor: pointer;
}


.buttom div{
  background-color: #08a05ca4;
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: -2rem;
  border-radius: 5px;
}

.buttom div a{
  color: white;
  font-weight: 700;
}

.buttom div a:hover{
  color: white;
  
}



/* ================== styles do inicio */
.inicio{
 
  margin: 0 auto;
  padding: 7rem 0rem;
  width: 100%;
}
.inicio h1{
  margin:0 20px;
  font-size: 2.5rem;
  color: #0b4c2fa4;

}

.inicio img{  
  width: 100%;
}



/* --------------CARRITO----------------- */

.carritos {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition: all 3000ms ease-in-out;
  background-color: rgba(0, 0,0, 0.6);
  z-index: 2;
  padding-bottom: 5rem;
  visibility:hidden;
}

.carrito {
  position:fixed; 
  top:50%;
  left:50%;
  transform: translate(-50%, -50%)
  scale(.5);
  width: 60%;
  height: 80%;
  border-radius: 8px;
  overflow-x:scroll;
  transition: all 300ms ease-in-out;
  background-color:white;
  opacity:0;
  visibility:hidden;
}

.carrito h2 {
text-align : center;
font-size:2rem;
}

.carritos.show {
  visibility:visible;
}

.carrito.show {
  transform: translate(-50%, -50%)
  scale(1.1);
  opacity:1;
  visibility: visible;
}

.carrito_close  {
 display:inline-block;
 width: 50px;
 height: 50px;
 cursor: pointer;
 transform: all 3000ms  ease-in-out;
 margin: 3rem 0 0 2rem;
}


.carrito_close box-icon:hover {
  fill:crimson
}


.carrito_center {
  width:90%;
  margin:0 auto;
 
}

.carrito_item{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0 1px 10px #08a05c;
  border-radius:5px;
}


.carrito_item img {
  width: 9rem;
}

.carrito_item h3 {
  margin-top: 1.5rem;
  font-family: 600;
  font-size: 1.5rem;  
  font-family: Helvetica, sans-serif;
}

.carrito_item .price{
 color: #1a202c;
 font-size: 2rem;
 font-weight: bold;
 text-align: center;
 margin-left: -1rem;
}

.carrito_item box-icon{
 fill:#08a05c;
 width: 40px;
 height: 40px;
 cursor: pointer;
 margin-top: .3rem;
}

.carrrito_item .cantidad{
  font-size: 2rem;
  font-weight: bold;
}

.carrito_item .remove_item box-icon{
width: 60px;
height: 80px;
fill:blue;
margin: 2rem;
}

.carrito_footer {
  text-align: center;
  margin-bottom: 3rem;
}

.carrito_footer h3{
  font-size:  2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.carrito_footer .btn{
  display:inline-block;
  padding: .3rem 1rem;
  font-size: 1.2rem;
  border:0;
  outline:0;
  cursor:pointer;
}

.carrito_footer .btn {
  display:inline-block;
  padding: .3rem 1rem;
  font-size: 1.2rem;
  background-color:skyblue;
  border:0;
  outline:0;
  cursor:pointer;
}

.carrito_footer .btn:hover{
  background-color: blue;
  color:white;
}


.btnstart {
  padding:5px;
  background: rgb(2,0,36);
  background: linear-gradient(to right, #000000, #EB5757);
  font-size: 14px;
  font-weight:bold;
  color: whitesmoke;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  transition: all 1000ms;
}

.btnstart:hover{
  box-shadow: 0px 4px 7px rgba(255, 255, 255, 0.61);
}


/* ===========Detalles Productos=================== */

.detallediv {
  padding: 10rem 0;
 
}

.detalles{
  display:flex;
  flex-direction:column;
  width:100%;
  padding:5rem ;
  box-sizing: border-box;
  border: indigo 1px solid;
}

.detalle h2 {
  font-size: 3rem;
  width: 100%;
  max-width:1000px;
  margin: 0 auto;
  font-family:Helvetica, sans-serif;
}

.detalles .price{
  font-size: 2rem;
  width: 100%;
  color: blue;
}

.detalles img{
  margin: auto;
  display:flex;
  width:500px;
  height:500px;
  object-fit: contain;
  margin-top: -7rem;
  z-index: -1;

}

 .btn1{
   display: flex;
   justify-content: center;
   width:170px;
   margin:1rem 0 0 0;
   padding: 0.625rem;
   border:none;
   outline:0;
   background-color: #3033d3;
   font-size: 20px;
   color:white;
   font-weight:600;
   border-radius:8px;
   cursor:pointer;
   text-align: center;
   
}

.detalles .grid {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 1rem;
  max-width: 100px;
}

.detalles .grid > .nuevo, .size{
  padding: 0.5rem 1rem;
  border-radius: 7px;
  font-size:2rem;
  font-weight: 600;
  color:white;
}

.detalles .grid  .nuevo {
  background-color: rgb(0, 174, 255);
}

.detalles .grid .size {
  background-color: rgba(141, 57, 201, 0.849);
  display:flex;
}

.detalles .grid .size .selector{
  border:none;
  font-size: 2rem;
  background-color:red;
  color: white;
  cursor: pointer;
}

.detalles input{
  max-width: 700px;
  margin: 0 auto;
  width:100%;
  margin-bottom: 2rem ;
}

.detalles .description{
  font-size: 1.1rem;
  max-width: 1300px;
  width:100%;
  letter-spacing: 1px;
  color:gray;
  margin: 0 auto;
  font-weight: 500px;
}

.detalles .description b{
  font-size: 1.4rem;

}


.detalles .input {
  max-width: 700px;
}


/* ===============MEDIA QUERY======================*/

@media only  screen  and (max-width: 1000px){
  .carrito_item {
    width: 92%;
  }
}

@media only  screen  and (max-width: 700px){
  .logo{
    display: none;

  }
   .carrito {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
}

   .carrito_item h3{
   font-size: 1.2rem;
}


@media only screen and (max-width: 600px) {
  header{
    padding: 0 18px;
  }
  header ul{
    display: none;
  }

  .icon-menu{
    display: flex;
  }

  

   @media only screen and (max-width:450px) {
   .carrito_item h3{
   display:.5rem;
 }
   }

   .carrito_item .remove_item box-icon {
     width:30px;
     height: 70px;
   }
}